:root{
    --text-color: white;
    --background-color: black;
    --primary-color: #1f78a1e5;
    --secondary-color: #6e8ee7e5;
    --font-family: 'Arial', sans-serif;
}

body{
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}

/*Defino colores y estilos para la barra de navegación*/
.navbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    padding: 20px 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display:flex;
    gap: 30px;
}

.nav-links a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 10px 20px;
    border-radius: 50px;
}

.nav-links a:hover{
    color: var(--text-color);
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}


/*Estilos de logo*/
.logo{
    height: 40px;
    margin-right: auto;
    display: block;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: left;
}

.logo-text{
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    color: var(--text-color);
}

/*Estilos para el botón hamburguesa*/
.menu-toggle {
    display:none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-right: 20px;
    z-index: 150;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 5px;
    transition: all 0.3s linear;
}

/* aquí es donde puedo definir estilos de cada sección de la página*/
.section {
    padding: 10px 20px;
    text-align: center;
    min-height: 100vh;
    padding-top: 100px;
}

.encabezado {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

.description {
    font-size: 1.4rem;
    max-width: 800px;
    margin: 0 auto;
    color: var(--text-color);
    text-align: justify;
}

/* Aquí es donde defino los estilos para las tarjetas tipo pop-up*/
.cards-container {
    display: flex; /* Usamos flex para la distribución */
    flex-wrap: wrap; /* Permitimos que las tarjetas salten de línea */
    justify-content: center; /* Centramos las tarjetas horizontalmente */
    gap: 30px; /* Espacio entre las tarjetas */
    max-width: 1200px; /* Un ancho máximo para centrar el contenido */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 30px;
}

.resource-card {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 2px 4px 8px rgba(41, 43, 173, 0.918);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--text-color);
    flex-grow: 1;
    max-width: 500px;
}

.resource-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(30, 106, 156, 0.555);
}

.resource-card img{
    width: 85%;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.resource-card h3{
    font-size: 1.5rem;
    margin-top: 0;
    color: var(--text-color);
}

.resource-card p{
    font-size: 1rem;
    color: var(--text-color);
}

/*Estilos para el modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    padding-top: 60px;
}

.modal-content {
   background-color: var(--secondary-color);
   margin: 5% auto;
   padding: 30px;
   border: 2px solid var(--primary-color);
   border-radius: 20px;
   width: 80%;
   max-width: 800px;
   box-shadow: 0 0 25px rgba(55, 0, 255, 0.5);
   position: relative;
   color: var(--text-color);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.modal-content h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.modal-content p {
    font-size: 1.1rem;
    line-height: 1.8;
}

.modal-content img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.close-button {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover,
.close-button:focus {
    color: var(--primary-color);
}

/* Estilos para los botones dentro del modal */
.modal-button {
    margin-top: 20px;
}

.btn-modal {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.spaceapps-btn:hover {
    background-color: rgba(28, 30, 163, 0.63);
}

.demo-btn:hover {
    background-color: rgba(28, 30, 163, 0.63);
}


/*Pie de página*/
.footer {
    background-color: var(--background-color);
    text-align: center;
    padding: 5px 0;
    margin-top: 5px;
    color: var(--text-color);
}

strong {
    color: var(--primary-color);
}


@media (max-width: 768px) {
    .nav-bar {
        justify-content: space-between;
    }

    .menu-toggle {
        display: flex;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 84px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        padding: 10px 0;
        z-index: 90;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 10px;
        width: 90%;
        text-align: center;
        margin: 5px 0;
        border-radius: 5px;
    }
}