:root{
    --text-color: white;
    --background-color: black;
    --primary-color: #1f78a1e5;
    --secondary-color: #6e8ee7e5;
    --font-family: 'Arial', sans-serif;
}

body{
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}

/*Defino colores y estilos para la barra de navegación*/
.navbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    padding: 20px 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display:flex;
    gap: 30px;
}

.nav-links a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 10px 20px;
    border-radius: 50px;
}

.nav-links a:hover{
    color: var(--text-color);
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}


/*Estilos de logo*/
.logo{
    height: 40px;
    margin-right: auto;
    display: block;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: left;
}

.logo-text{
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    color: var(--text-color);
}

/*Estilos para el botón hamburguesa*/
.menu-toggle {
    display:none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-right: 20px;
    z-index: 150;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 5px;
    transition: all 0.3s linear;
}

/* aquí es donde puedo definir estilos de cada sección de la página*/
.section {
    padding: 100px 20 px;
    text-align: center;
    min-height: 100vh;
    padding-top: 100px;
}

.encabezado {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

.description {
    font-size: 1.4rem;
    max-width: 800px;
    margin: 0 auto;
    color: var(--text-color);
}

/*Pie de página*/
.footer {
    background-color: var(--background-color);
    text-align: center;
    padding: 5px 0;
    margin-top: 5px;
    color: var(--text-color);
}



@media (max-width: 768px) {
    .nav-bar {
        justify-content: space-between;
    }

    .menu-toggle {
        display: flex;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 84px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        padding: 10px 0;
        z-index: 90;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 10px;
        width: 90%;
        text-align: center;
        margin: 5px 0;
        border-radius: 5px;
    }
}